@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  padding: 50px;
}
.header .header2 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 30px;
}
.header .header2 h1 {
  font-size: 70px;
  font-family: "Rancho", cursive;
}

.menu {
  display: none;
  margin-top: -100px;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.head .head_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.head .head_left .head2 h1 {
  font-size: 45px;
  font-family: "Josefin Sans", sans-serif;
}
.head .head_left .head2 h1 span {
  color: #2A9D8F;
}
.head .head_left .head3 {
  display: flex;
  gap: 60px;
}
.head .head_left .head3 button {
  padding: 20px 35px;
  background-color: rgb(244, 162, 97);
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px rgb(244, 162, 97);
  color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
}
.head .head_left .head3 button:hover {
  transform: rotate(360deg) scale(1.5);
}
.head .head_left .head3 button:active {
  background-color: rgb(201, 129, 70);
}
.head .head_left .head4 {
  display: flex;
  gap: 100px;
}
.head .head_left .head4 .first i {
  padding: 0px 80px 0px 0px;
  border-right: 2px solid #000;
}

.stomach_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
  background-color: rgb(239, 239, 239);
  padding: 50px;
}
.stomach_container .stomach_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.stomach_container .stomach_header h1 {
  font-size: 70px;
  font-family: "Rancho", cursive;
}
.stomach_container .stomach_header p {
  color: red;
}
.stomach_container .stomach_head {
  display: flex;
  gap: 100px;
}
.stomach_container .stomach_head .stomach {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  max-width: 450px;
}
.stomach_container .stomach_head .stomach .color_red {
  color: red;
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}
.stomach_container .stomach_head .stomach h1 {
  font-size: 45px;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 5px;
  border-bottom: 2px solid gray;
}
.stomach_container .stomach_head .stomach button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 150px;
  background-color: rgb(42, 157, 143);
}
.stomach_container .stomach_head .stomach button:hover {
  transform: scale(1.5);
}
.stomach_container .stomach_head .stomach2 {
  width: 100%;
}

.neck_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}
.neck_container .neck_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.neck_container .neck_header h1 {
  font-size: 70px;
  font-family: "Rancho", cursive;
}
.neck_container .neck_header p {
  color: red;
}
.neck_container .neck_head {
  display: flex;
  gap: 120px;
}
.neck_container .neck_head .neck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.neck_container .neck_head .neck h1 {
  font-size: 45px;
  font-family: "Josefin Sans", sans-serif;
}
.neck_container .neck_head .neck img {
  width: 250px;
}
.neck_container .neck_head .neck .first {
  padding-bottom: 30px;
  border-bottom: 2px solid gray;
}

.chest_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}
.chest_container p {
  margin: auto;
  color: red;
}
.chest_container h1 {
  margin: auto;
  font-size: 70px;
  font-family: "Rancho", cursive;
}
.chest_container .chest_head {
  position: relative;
  background-image: url(assets/pexels-ella-olsson-1640770\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 80%;
  margin: auto;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chest_container .chest_head p {
  color: #fff;
  font-size: 20px;
}

.hand_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}
.hand_container .hand_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.hand_container .hand_header p {
  color: red;
}
.hand_container .hand_header h1 {
  font-size: 70px;
  font-family: "Rancho", cursive;
}
.hand_container .hand_head {
  display: flex;
  justify-content: space-around;
}

.finger_relative {
  position: relative;
  background-image: url(assets/pexels-ketut-subiyanto-4350114\ \(1\)\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.finger_relative .finger_header {
  position: absolute;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8196078431);
  color: white;
  gap: 20px;
  padding: 30px;
  width: 400px;
}
.finger_relative .finger_header p {
  color: red;
}
.finger_relative .finger_header h1 {
  font-size: 70px;
  font-family: "Rancho", cursive;
}
.finger_relative .finger_header input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}
.finger_relative .finger_header textarea {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}
.finger_relative .finger_header button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 150px;
  background-color: rgb(42, 157, 143);
}
.finger_relative .finger_header button:hover {
  transform: scale(1.5);
}
.finger_relative .finger_header .finger_head {
  display: flex;
  gap: 30px;
}

.foot_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  background-color: rgb(51, 51, 51);
  color: #ffffff;
}
.foot_container .foot_header {
  display: flex;
  justify-content: space-around;
}
.foot_container .foot_header .foot_left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.foot_container .foot_header .foot_left .foot_left_top {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.foot_container .foot_header .foot_left .foot_left_top h1 {
  font-size: 70px;
  font-family: "Rancho", cursive;
}
.foot_container .foot_header .foot_left .foot_left_bottom {
  display: flex;
  gap: 20px;
}
.foot_container .foot_header .foot {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.foot_container .foot_header .foot h3 {
  color: rgb(231, 111, 81);
  padding-bottom: 20px;
  border-bottom: 2px solid gray;
}
.foot_container .foot_header .foot_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot_container .foot_header .foot_right h3 {
  color: rgb(231, 111, 81);
  padding-bottom: 10px;
  border-bottom: 2px solid gray;
}
.foot_container .foot_head {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1140px) {
  .head_img img {
    width: 80%;
  }
  .stomach2 img {
    width: 250px;
  }
  .neck_container .neck_head .neck img {
    width: 150px;
  }
  .chest_container img {
    width: 100%;
  }
  .hand_container .hand_head img {
    width: 200px;
  }
  .foot_container {
    margin-top: 300px;
  }
}
@media (max-width: 800px) {
  .header2 li {
    display: none;
  }
  .header2 h2 {
    justify-content: start;
  }
  .menu {
    display: flex;
    justify-content: end;
  }
  .head {
    flex-direction: column;
    gap: 30px;
  }
  .head .head_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .stomach_head {
    flex-direction: column;
  }
  .stomach_head .stomach2 img {
    width: 100%;
  }
  .neck_container .neck_head {
    flex-direction: column;
  }
  .neck_container .neck_head .neck img {
    width: 100%;
  }
  .chest_container img {
    width: 100%;
  }
  .hand_container .hand_head {
    flex-direction: column;
    gap: 50px;
  }
  .hand_container .hand_head img {
    width: 100%;
  }
  .foot_container {
    margin-top: 0px;
  }
  .foot_header {
    flex-direction: column;
    justify-content: left;
  }
}/*# sourceMappingURL=style.css.map */